# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads
uploads/
*.jpg
*.jpeg
*.png
*.gif

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
coverage/
.nyc_output/

# Temp files
*.tmp
*.temp
.cache/

# Docs

/docs